 <div class="container flex flex-col mx-auto bg-white rounded-lg pt-12 my-5">
     <!-- Flexbox para centrar y ajustar el diseño en diferentes tamaños de pantalla -->
            <div class="flex justify-center w-full h-full my-auto xl:gap-14 lg:justify-normal md:gap-5 draggable">
                <!-- Flexbox para centrar elementos en la pantalla -->
                <div class="flex items-center justify-center w-full lg:p-12">
                    <!-- Flexbox para organizar elementos en columnas en tamaños de pantalla grandes -->
                    <div class="flex items-center xl:p-10">
                        <!-- Este apartado de index sera para que cuando este en home sin registrarse este se va a mirar primero -->
                        <form class="flex flex-col w-full h-full pb-6 text-center bg-white rounded-3xl">
                            <h3 class="mb-3 text-4xl font-extrabold text-dark-grey-900">SITIO ACADEMICO</h3>
                        </form>
                    </div>
                </div>
            </div> 
 </div>
