<!-- Encabezado (Header) -->
<!-- cuando el usuario no este registrado (alumno) NO PODRA VER Alumnos,Docentes,Departamento -->
    <!-- Nota Docentes y departamento esos no funcionan pero solo son decorativos por mientras -->
    <header class="bg-blue-500 text-white py-2 justify-between items-center">
         <footer class="bg-blue-500 text-white py-2 mt-2">
        <div class="container mx-auto flex justify-between items-center">
            <nav class="hidden md:flex space-x-4">
                <a href="/" class="hover:text-gray-300">Inicio</a>
                <a href="/alumno/add" class="hover:text-gray-300">Alumnos</a>
                <a href="/docentes" class="hover:text-gray-300">Docentes</a> 
                <a href="#" class="hover:text-gray-300">Departamento</a>
            </nav>
            <div class="space-x-4">
                <a href="#" class="hover:text-gray-300">Login</a>
                <a href="#" class="hover:text-gray-300">Register</a>
            </div>
        </div>
    </footer>
        
    </header>